*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: inherit;
  color: inherit;
}

.App{
  min-height: 97vh;
  border: 8px solid #39445a;
  margin: 5px;
  padding: 5px;
}

.singleQuest > h2:nth-child(1){
text-align: center;
  padding: 0;
  width: 100%;
}